
.dlg .dlg-container.dlg-container-notify {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 320px;
  z-index: 420;
  filter: drop-shadow(0px -18px 45px rgba(0, 0, 0, 0.03)) drop-shadow(0px 4px 8px rgba(28, 41, 61, 0.1));

  & > div {
    margin-bottom: 5px;
  }

  & > div:last-child {
    margin-bottom: 0;
  }

  .dlg-item {
    border: none;

    margin: 10px 0;
  }
}
