.dlg .dlg-overlay {
  background: var(--dlg-overlay, rgba(0, 0, 0, 0.5));
  cursor: default;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 390;
}

.dlg .dlg-container {
  pointer-events: none;
  & > div {
    pointer-events: all;
  }
}