.dlg .dlg-container.dlg-container-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 400;
  
  overflow: hidden;
  opacity: 1;
  
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  justify-content: center;
  
  //& > div:last-child {
  //  margin-bottom: 0px;
  //}
  
  .dlg-item {
    position: relative;
  }
  
  .dlg-item__header-actions {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
  }
  
  .dlg-item-remove,
  .dlg-item-edit,
  .dlg-item-close {
    @include icon-size(1.25);
    fill: var(--color-gray-04);
    cursor: pointer;
    & > svg {
      width: 100%;
      height: 100%;
    }
  }
  
  .dlg-item-edit {
    margin: 0 12px;
  }
  
  .dlg-item-remove {
    fill: var(--color-red-03);
  }
}