.dlg .dlg-container.dlg-container-notify {
  position: fixed;
  left: 10px;
  top: 77px;
  width: 320px;
  z-index: 420;
  border-radius: 0;

  .dlg-item {
    background-color: transparent;
    box-shadow: none;
    border: 0;
    overflow: visible;
  }
  
  & > div {
    margin: 0 0 10px 0;
  }
  
  & > div:last-child {
    margin-bottom: 0;
  }
}

.dlg .dlg-item__notification-settings {
  max-width: 380px;
}